<div class="page-wrapper page-wrapper-mobile flex-row align-items-sm-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 p-0">
                <div class="card p-4 mb-0 mb-sm-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        Login
                    </div>

                    <form #loginForm="ngForm" (ngSubmit)="doLogin()">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email" [(ngModel)]="login.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                <div class="text-danger" *ngIf="email.errors && (email.invalid && email.touched)">
                                    <small *ngIf="email.errors.required">
                                      Email is required
                                  </small>
                                    <small *ngIf="email.errors.pattern">
                                      Email pattern is not valid
                                  </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" name="password" [(ngModel)]="login.password" required>
                                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
                            </div>

                            <div class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input" id="login">
                                <label class="custom-control-label" for="login">Check this custom checkbox</label>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-block btn-primary px-5" [disabled]="loginForm.form.invalid">Login</button>
                                </div>

                                <div class="col-sm-6 text-right text-sm-center mt-5 mt-sm-0">
                                    <a class="btn btn-link" [routerLink]="['/'+ AppRoutes.register]">Register</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>