<!-- User Dashboard -->
<div class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <!-- topnav -->
        <user-dash-topnav></user-dash-topnav>

        <div class="main-container">
            <!-- sidebar -->
            <user-dash-sidenav></user-dash-sidenav>

            <div class="content px-0">
                <div class="container-fluid">
                    <!-- pages -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>